{% extends 'home.html' %}

{% block title %} {{title}} {% endblock  %}


{% block content %}

    <a href="https://www.google.com/search?q=74+Winthrop+St%2C+Cambridge%2C+MA+02138&rlz=1C1UUXU_esNI988NI988&oq=74+Winthrop+St%2C+Cambridge%2C+MA+02138&aqs=chrome..69i57j69i60l3.1498j0j7&sourceid=chrome&ie=UTF-8"> LOCATION GOOGLE MAPS</a>

    <h1>LOCATION AND DIRECTION</h1>
    <P>
        <ul>
            <li>Pinocchio's is located on Winthrop street right near the corner of JFK Street.</li>
            <li>We are 2 blocks from the Harvard Square T stop.</li>
            <li>Do not park across the street from us! It is a tow zone!</li>
        </ul>
    </P>
{% endblock  %}